body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6b705c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  color: #cb997e;
}

p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #ffe8d6;
  font-size: 18px;
  border-radius: 8px;
}

button:hover {
  background-color: white;
}

.postbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a5a58d;
  border-radius: 25px;
  padding: 12px 28px;
  max-width: 80vw;
  margin-left: 150px;
  text-align: center;
}

.likebuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a5a58d;
  border-radius: 25px;
  padding: 12px 28px;
  max-width: 80vw;
  margin-left: 150px;
  text-align: center;
}

.quotestyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a5a58d;
  border-radius: 25px;
  padding: 12px 28px;
  max-width: 80vw;
  margin-left: 150px;
}

.returnhomebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a5a58d;
  border-radius: 25px;
  padding: 12px 28px;
  max-width: 80vw;
  margin-left: 150px;
}

.wandabutton {
  font-size: 24px;
  background-color: #ffe8d6;
}

.wandabutton:hover {
  background-color: darkred;
  color: white;
}

.falconbutton {
  font-size: 24px;
  background-color: #ffe8d6;
}

.falconbutton:hover {
  background-color: darkblue;
  color: white;
}

.reportbutton {
  background-color: red;
  color: white;
}

.reportedmessage {
  font-weight: bold;
}

.quotediv {
  text-align: center;
}
